PRINTER_IP=192.168.1.87
MQTT_SRV = mqtt.meshtastic.org
MQTT_USER = meshdev
MQTT_PASS = large4cats
MQTT_PORT = 1883
MQTT_TOPICS = msh/Country/Location/2/e/PKI/#,msh/Country/Location/2/e/MediumSlow/#,msh/Country/Location/2/e/LongFast/#
CHANNEL_KEY = 1PG7OiApB1nwvP+rz05pAQ==
SQLITE_DATABASE_PATH = data/telegramtastic.db